<h1 id="honbun">要約筆記依頼サービス</h1>
<p>
  登録済みユーザー情報のメールアドレスとパスワードを入力し、「ログイン」ボタンをおしてください。
</p>
<%= flash[:error] %>
<p>ユーザー登録されていない方は、事前に「<%= link_to 'ユーザ新規登録', ICT4E_ACCOUNTS_URL + 'signup/remotecaption/account' %>」が必要です。</p>
<% form_tag :controller => 'sessions', :action => 'create' do -%>
  <% fields_for :users do |f| %>
<h2>登録済みユーザー情報</h2>
<table class="col">
  <tr>
    <th><label for="email">Eメール<span class="tCaution">(必須)</span></label></th>
    <td>
      <%= f.text_field 'email', :id=> 'email',:size=> '30', :style => 'ime-mode: disabled;',
        :type => 'email', :class=>'textB ascii', :required => 'required', :value=>@user_email %>
    </td>
  </tr>
  <tr>
  <th><label for="password">パスワード<span class="tCaution">(必須)</span></label></th>
  <td>
    <%= f.password_field 'password', :id => 'password', :size => "10", :style => "ime-mode: disabled;",
      :class => "textC ascii", :required => "required" %>
    <%= link_to 'パスワードを忘れた方', ICT4E_ACCOUNTS_URL + 'users/forget' %></td>
  </tr>
</table>
<p><%= submit_tag 'ログイン', :id => 'login', :name => 'login' %></p>
<% end %>
<% end %>